<%- include("header"); %>

    <section id="all-posts">

        <nav class="navbar navbar-expand-lg navbar-dark read-more-nav">
            <a class="navbar-brand about-navbar" href="#">NodeBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link about-navbar" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link about-navbar" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link about-navbar" href="/allposts">Posts</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="about-text-img">
            <img class="title-img" src="img/about-img.jpg" alt="about-img" id="about-img">
            <h2 class="about-title-text">All Posts</h2>
            <h3 class="subtitle-text">Just not any you'd want to read</h3>
        </div>

    </section>

    <section id="all-posts-body">

        <% for (var i = 0; i < blogPosts.length; i++) { %>
            <h1 class="all-posts-h1"><%= blogPosts[blogPosts.length - 1 - i].title %></h1>
            <a class="all-posts-read-more" href="posts/<%= blogPosts[blogPosts.length - 1 - i]._id %>">read</a>
        <% } %>

    </section>

<%- include("footer"); %>