<%- include("header"); %>

<section id="compose">

    <form action="/" method="post" autocomplete="off">
        <input class="post-input title-input" type="text" name="postTitle" placeholder="Give it a Title...">
        <textarea class="post-input body-input" type="text" name="postBody" placeholder="Write your post here."></textarea>
        
        <div class="right-align">
            <input class="upload-post" type="submit" value="Post it">
        </div>
    </form>

</section>

<%- include("footer"); %> 